*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    font-weight: 20;
}

:root {
    --black:#000000;
    --bg-color: #06080B;
    --break-divider-outline:#29292A;
    --bg-embelishment-color:#0A0B12;
    --dark-blue:#0b1e3b;
    --complement-blue:#1B73BA;
    --accenture-blue:#2A77EB;
    --dormant-grey:#6b6b6b9e;
    --neutral-grey:#6b6b6b9e;
    --lightest-grey:#9b9b9c;
    --emphasis-white:#bebcbc;
    --active-white:#dad9d9;
  }

  html{
    scroll-behavior: smooth;
    /* scroll-snap-type: proximity; */
  }

  body {
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  /* <-- Preloader styles --> */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
  /* transition-delay: 4s; */
  transition: 5s ease;
  opacity: 1;
}

  #loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:visible;
  }
  
  .radial {
    position: absolute;
    height: 10px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--dormant-grey);
    left: -15px;
    transform: rotate(0deg);
    transform-origin: 65px;
    transition:background 1s, box-shadow 1s;
  }
  
  .glow{
    background: var(--complement-blue);
    box-shadow: 0 0 18px 4px var(--accenture-blue);
     /* animation: glow 1.5s ease-in-out infinite alternate; */
  }

main{
    background: var(--bg-color);
    overflow: hidden;
}


/* <-- NAV BAR --> */
.navbar{
    background-color:var(--bg-color);
    opacity: 0.8;
}

.navbar-brand img{ 
    transition: transform .7s ease-in-out;
    width: 30px; 
}  

.navbar-brand img:hover{ 
    transform: rotate(360deg);
}

.nav-item > .active {
    color: var(--accenture-blue);  
  }

.nav-item>a:hover {
    color: var(--active-white);
}
.btn.btn-primary{
    background: var(--bg-color);
    outline: var(--accenture-blue);
}
.btn.btn-primary:hover{
  background:var(--accenture-blue);
}

/* <-- BLOB --> */
#blob {
  background-color: white;
  height: 40vmax;
  width: 100%;
  aspect-ratio: 1;
  position:absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--complement-blue), var(--dark-blue));
  animation: rotate 10s infinite;
  opacity: 0.6;
  /* overflow-x: hidden; */
}

/* <-- BLUR --> */
#blur {
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(12vmax);
}


/* INTRODUCTION*/
.introduction{
    /* position: relative; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 260px;
    /* scroll-snap-align: start; */
}
.greeting {
    font-size: 4vh;
    text-align: center;
    color: var(--active-white);
    display: block;
    align-items: center;
    font-weight: 200;
    padding-top: 60px;
}
n{
    color: var(--accenture-blue);
     /* animation: glow 1.5s ease-in-out infinite alternate; */
}

/* #delayedForeword{
  font-size: 3vh;
    color: #9b9b9c;
    text-align: center;
    visibility: hidden;
    animation: glow 1.5s ease-in-out infinite alternate;
  } */
  
   @-webkit-keyframes glowww {
    from {
      text-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #024bba, 0 0 40px #024bba, 0 0 50px #024bba, 0 0 60px #024bba, 0 0 70px #024bba;
    }
    to {
      text-shadow: 0 0 1px #fff,0 0 20px #fff;
    }
} 

.typed-cursor{
    opacity: 1;
    font-size:130px;
    font-weight: 10px;
    color: var(--accenture-blue);
    -webkit-animation: blink 0.4s infinite;
    -moz-animation: blink 0.4s infinite;
    animation: blink 0.4s infinite;
}
.auto-type{
    font-weight: 550;
    font-size:150px;
    box-sizing: border-box;
    
}
.subheading{
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    color: var(--lightest-grey);
    padding-top: 10px;
    padding-bottom: 40px;
}

/* .break{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    color: #e4e4e4;
} */

/* ABOUT */
.about{
    display: flex;
    background-color:var(--bg-embelishment-color);
    margin: auto;
    max-width: 1200px;
    min-width: none;
    min-height: 50vh;
    margin-bottom: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
    border: solid 0.05px var( --break-divider-outline);
    /* box-shadow: 0rem 0.25rem 0.6rem -0.15rem var(--dark-blue); */
    /* scroll-snap-align: start; */
    border-radius: 24px;
    z-index: -9999;
    
   
}
.about:hover{
    /* transform: translateY(4px);  */
    box-shadow: 0px 14px 90px -80px var(--complement-blue);
}

.section-header{
    height: 7vh;
    display: flex;
    scroll-snap-align: start;

}

.section-title{
    margin-left: 20px;
    font-size: 50px;
    font-weight: 500;
    color: var(--active-white); 
    text-shadow:1px 1px 5px var(--dormant-grey),1px 1px 5px var(--active-white);
 }

 .section-title i{
  color: var(--emphasis-white); 
}


/* light blue: #698bbf*/
/* accents: #555556
blue:  #2A77EB  */
 /* h2::before, h2::after {
    content:' ';
    display:block;
    position:absolute; top:30%; left:-200px;
    width:160px; 100px line on either side
     border-bottom:2px solid #253144;
}
h2::after {
    left:auto; right:-200px; make the "after" position on the right side of the h1
 }  */

/* m{
    color:#9b9b9c;
} */
 .content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* flex-direction: column; */
    align-content: space-around;
    align-items: center;
    /* background-color: white; */
 }
 .about-text{
  color: var(--lightest-grey);
    font-family: NTR,sans-serif;
    font-size: 18px;
    margin-right: 40px;
    max-width: 700px;
    min-width: none;
    font-weight: 200;
    text-align: justify;
 }
.about b{
    color:var(--emphasis-white);
    font-size: 21px;
}
.about b:hover{
  color:var(--accenture-blue);
  font-size: 21px;
}

.about ul{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,10px));
    list-style-type:square;
    padding-top: 20px;
    align-items: center;
    justify-items: stretch;
    justify-content: space-around;
    align-content: stretch;
}

.about li::before {
    content: '\25A0'; /* Unicode character for a square bullet */
    color:var(--accenture-blue); /* Set the color of the bullet */
    display: inline-block;
    width: 1em; /* Adjust the width as needed */
    margin-left: -1em; /* Negative margin to overlap with the list item content */
  }
.about a{
    text-decoration: none!important;
    color:var(--accenture-blue);
}
.about-image-container{
    padding-top: 4%px;
    padding-right: 4%;
    max-width: 375px;
    max-height: 450px; 
    min-width: 250px; 
    min-height: 200px;
}
.about img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    /* filter: grayscale(100%); */
    opacity: 0.7;
}


/* EXPERIENCE */
    /* align-items: center;
    background-color: var(--bg-color); */
    /* display: flex;
    justify-content: center;
    margin: 0px;
    overflow: hidden; */

    .experience{
      display: flex;
      /* background-color: white; */
      margin: auto;
      max-width: 1200px;
      min-height: 50vh;
      margin-bottom: 40px;
      padding-top: 20px;
      justify-content: center;
  }

.timeline{
  display: flex;
  flex-direction: column;
}

.timeline p{
    color: var(--dormant-grey);
  }

  .pillBox{
    background: var(--dark-blue);
    color: var(--accenture-blue);
    width: 120px;
    height: 28px;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
  }
  

  .event{
    grid-column: auto;
    padding-bottom: 5%;
    padding-top: 2%;
    padding-right: 2%;
    display: flex;
    filter: grayscale(100%);
    opacity: 0.3;
    transition: scale 1s;
    scale: 0.8;
  }

  .event:hover{
    border: solid 0.05px var( --bg-embelishment-color);
    box-shadow: 2px 14px 90px -80px var(--bg-color);
    border-radius: 24px;
  }

  .timeline :hover{
    opacity: 1;
    scale: 1;
    filter: grayscale(0%);
    animation: appear linear;
    
  }


  .timePeriod{
    display: flex;
    width:25%;
    justify-content: center;
    /* align-items: center; */
    color: var(--dormant-grey);
    font-size: medium;
    margin-right:2%;
  }

  .jobTitle{
    font-size:x-large;
    color: var(--active-white);
  }
  .companyName{
    font-size:large;
    text-align: center;
    color: var(--accenture-blue);
  }
  .jobDescription{
    width: 100%;
  }

  .jobDescription p{
    color: var(--lightest-grey);
  }
  .jobDescription .pillBox{
    background: var(--dark-blue);
    color: var(--accenture-blue);
    /* padding-top: 0.7%;
    padding-bottom: 1%; */
    padding: 1%;
    font-size: medium;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--accenture-blue);
    
  }

  .scroller {
    max-width: 1200px;
    padding-top: 15px;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 30%,
      white 70%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
  }

  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  .tech-stack {
    display: grid;
    min-block-size: 40vh;
    justify-items: center;
    align-content: center;
  }
  
  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li img{
    max-width: 60px;
  }

  .tag-list li {
    padding: 1rem;
    width: 90px;
    height: 90px;
    text-align: center;
    /* border color: var(--break-divider-outline); */
    border-radius: 0.5rem;
    background: var(--bg-embelishment-color);
    box-shadow: 0 0.5rem 1rem -0.25rem var(--black);
  }
  
  /* for testing purposed to ensure the animation lined up correctly */
  /* .test {
    background: red !important;
  } */
  



  

/* PROJECTS */
.projects{
    display: block;
    /* background-color: white; */
    margin: auto;
    max-width: 1200px;
    min-height: 50vh;
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: solid 0.1px var( --break-divider-outline);
    justify-content: center;
}

.c-img{
    filter: brightness(0.6);
}
 
.carousel.slide {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 30px;

  }
  
  .carousel-inner {
    height: 500px;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

/* FOOTER */
.container.footer{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 20vh;
    padding-top: 40px;
    padding-bottom: 100px;
}
.hyperlinks{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;  
  color:var(--dormant-grey);
}

.hyperlinks i:hover{
  color:var(--accenture-blue);
}

f1{
    font-size: 80%;
    color:var(--deeper-grey);
    text-align: center;
}
