*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 350;
    
}

:root {
    --black:#000000;
    --bg-color: #06080B;
    --break-divider-outline:#29292A;
    --bg-embelishment-color:#0A0B12;
    --dark-blue:#0b1e3b;
    --complement-blue:#1B73BA;
    --accenture-blue:#2A77EB;
    --dormant-grey:#6b6b6b9e;
    --neutral-grey:#6b6b6b9e;
    --lightest-grey:#9b9b9c;
    --emphasis-white:#bebcbc;
    --active-white:#dad9d9;
  }

  html{
    scroll-behavior: smooth;
    /* scroll-snap-type: proximity; */
  }

  body {
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  /* <-- Preloader styles --> */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
  /* transition-delay: 4s; */
  transition: 5s ease;
  opacity: 1;
}

  #loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:visible;
  }
  
  .radial {
    position: absolute;
    height: 10px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--dormant-grey);
    left: -15px;
    transform: rotate(0deg);
    transform-origin: 65px;
    transition:background 1s, box-shadow 1s;
  }
  
  .glow{
    background: var(--complement-blue);
    box-shadow: 0 0 18px 4px var(--accenture-blue);
     /* animation: glow 1.5s ease-in-out infinite alternate; */
  }

  @media (max-width: 600px) {
    #loader {
      width: 80px; /* Slightly smaller for small screens */
      height: 80px;
    }
  
    .radial {
      height: 8px; /* Adjust size to fit the smaller loader */
      width: 24px;
      transform-origin: 52px;
    }

  }

main{
    background: var(--bg-color);
    overflow: hidden;
}


/* <-- NAV BAR --> */
.navbar{
    background-color:var(--bg-color);
    opacity: 0.8;
}

.navbar-brand img{ 
    transition: transform .7s ease-in-out;
    width: 30px; 
}  

.navbar-brand img:hover{ 
    transform: rotate(360deg);
}

.nav-item > .active {
    color: var(--accenture-blue);  
  }

.nav-item>a:hover {
    color: var(--accenture-blue);
}
.btn.btn-primary{
    background: var(--bg-color);
    outline: var(--accenture-blue);
}
.btn.btn-primary:hover{
  background:var(--accenture-blue);
}

/* <-- BLOB --> */
#blob {
  background-color: white;
  height: 40vmax;
  width: 100%;
  aspect-ratio: 1;
  position:absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, var(--complement-blue), var(--dark-blue));
  animation: rotate 10s infinite;
  opacity: 0.6;
  /* overflow-x: hidden; */
}

/* <-- BLUR --> */
#blur {
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(12vmax);
}

@media (max-width: 600px) {
  #blur {
    backdrop-filter: none;
  }
  #blob {
    display: none;
  }
  .introduction{
    padding-top: 300px !important; 
  }
  .subheading{
    font-size: 15px!important; 
    padding-top: 0px!important; 
    padding-bottom: 10px!important; 
    margin: 10px;
  }
  .section-header{
    /* justify-content: space-around;
    align-items: center; */

    flex-direction: row-reverse;
    align-content: flex-start;
    justify-content: flex-end;
  }
  .section-title{
    font-size: 35px !important;
    font-weight: 420;
  }

  .auto-type{
    font-size: 60px !important;
  }
  .about{
    max-height: 100%!important;
    margin-bottom: 60px !important;
  }
  .about-text{
    min-width: 99%;
  }
  .experience{
    margin-bottom: 0px !important;
  }
}

/* INTRODUCTION*/
.introduction{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 260px;
    /* scroll-snap-align: start; */
}
.greeting {
    text-align: center;
    color: var(--active-white);
  }
n{
    color: var(--accenture-blue);
     /* animation: glow 1.5s ease-in-out infinite alternate; */
}

  
   @-webkit-keyframes glowww {
    from {
      text-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #024bba, 0 0 40px #024bba, 0 0 50px #024bba, 0 0 60px #024bba, 0 0 70px #024bba;
    }
    to {
      text-shadow: 0 0 1px #fff,0 0 20px #fff;
    }
} 

.typed-cursor{
    opacity: 1;
    font-size:13vw;
    font-weight: 2vh;
    color: var(--accenture-blue);
    -webkit-animation: blink 0.4s infinite;
    -moz-animation: blink 0.4s infinite;
    animation: blink 0.4s infinite;
}
.auto-type{
    font-weight: bold;
    font-size:170px;
    box-sizing: border-box;
}
.subheading{
    text-align: center;
    font-size: 18px;
    max-width: 500px;
    color: var(--lightest-grey);
    padding-top: 10px;
    padding-bottom: 40px;
}

/* ABOUT */
.about{
    display: block;
    background-color:var(--bg-embelishment-color);
    margin: auto;
    max-width: 1200px;
    max-height: 600px;
    min-width: 350px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    border: solid 0.05px var( --break-divider-outline);
    /* box-shadow: 0rem 0.25rem 0.6rem -0.15rem var(--dark-blue); */
    /* scroll-snap-align: start; */
    border-radius: 24px;
    z-index: -9999;
    overflow: hidden;
   
}

.section-header{
    /* height: 7vh; */
    display: flex;
    scroll-snap-align: start;
    /* justify-content: right; */
    align-items: center;
}
.section-title{
    margin-left: 20px;
    font-size: 50px;
    font-weight: 480;
    color: var(--active-white); 
    /* letter-spacing: 0.005px; */
    /* text-shadow:1px 1px 5px var(--dormant-grey),1px 1px 5px var(--active-white); */
 }
 .section-title i{
  color: var(--emphasis-white); 
}
 .content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    align-content: space-around;
    align-items: center;
    /* background-color: white; */
 }
 .about-text{
  color: var(--lightest-grey);
    font-family: NTR,sans-serif;
    font-size: 18px;
    margin-right: 0px;
    margin-left: 20px;

    max-width: 700px;
    min-width: 200px;
    text-align: justify;
 }
.about b{
    color:var(--emphasis-white);
    font-size: 19px;
}

.list{
    display: grid;
    /* grid-template-columns: repeat(2,minmax(150px,10px));   */
    list-style-type:none;
    padding-top: 10px;
    align-items: center;
    justify-items: stretch;
    justify-content: space-around;
    align-content: stretch;
}
.about li::before {
    content: '\25C9'; /*Unicode character for a square bullet*/
    color:var(--accenture-blue); /* Set the color of the bullet */
    display: inline-block;
    width: 1em; 
    margin-left: -1em; /* Negative margin to overlap with the list item content */
  }
.about a{
    text-decoration: none!important;
    color:var(--accenture-blue);
    font-size: 19px;
}
.about a:hover{
  color:var(--emphasis-white);
}
.about-image-container{
    /* padding-right: 2%; */
    max-width: 400px;
    max-height: 500px; 
    min-width: 250px; 
    min-height: 200px;
}

@media screen and (max-width: 900px) {
  .about-image-container{
    display: none;
  }

  
}
.about img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    /* filter: grayscale(100%); */
    opacity: 0.7;
}


/* EXPERIENCE */

.experience{
    display: flex;
    margin: auto;
    max-width: 1200px;
    min-height: 50vh;
    margin-bottom: 40px;
    padding-top: 20px;
    justify-content: center;
}

.timeline{
  display: flex;
  flex-direction: column;
}

.timeline p{
    color: var(--dormant-grey);
  }
  .event a{
    text-decoration: none!important;
    color:var(--accenture-blue);
    font-size: 19px;
}
.event a:hover{
  color:var(--emphasis-white);
}
  .pillBox{
    background: var(--dark-blue);
    color: var(--accenture-blue);
    width:inherit;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: center;
    height: 28px;
    font-size: larger;
    text-align: center;
    border-radius: 15px;
  }
  
  .event{
    grid-column: auto;
    padding-bottom: 5%;
    padding: 3%;
    display: flex;
    filter: grayscale(100%);
    opacity: 0.3;
    transition: scale 1s;
    scale: 0.8;
  }

  .event.active {
    opacity: 1;
    scale: 1;
    filter: grayscale(0%);
    background-color: var(--bg-embelishment-color);
    box-shadow: 0 10px 20px var(--dark-blue);
    /* border: solid 0.05px var( --break-divider-outline); */
    border-radius: 24px;
  }

  .timePeriod{
    display: flex;
    width:25%;
    justify-content: center;
    /* align-items: center; */
    color: var(--dormant-grey);
    font-size: medium;
    margin-right:2%;
  }

  .jobTitle{
    font-size:x-large;
    color: var(--active-white);
  }
  .companyName{
    font-size:large;
    text-align: center;
    color: var(--accenture-blue);
  }
  .jobDescription{
    width: 100%;
  }

  .jobDescription p{
    color: var(--lightest-grey);
  }
  .jobDescription .pillBox{
    background: var(--dark-blue);
    color: var(--accenture-blue);
    /* padding-top: 0.7%;
    padding-bottom: 1%; */
    padding: 1%;
    font-size: medium;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--accenture-blue);
    
  }

  .scroller {
    max-width: 1200px;
    padding-top: 15px;
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 30%,
      white 70%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 30%, white 70%, transparent);
  }

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  .tech-stack {
    display: grid;
    min-block-size: 40vh;
    justify-items: center;
    align-content: center;
  }
  
  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li img{
    max-width: 60px;
  }

  .tag-list li {
    padding: 1rem;
    width: 90px;
    height: 90px;
    text-align: center;
    /* border color: var(--break-divider-outline); */
    border-radius: 0.5rem;
    background: var(--bg-embelishment-color);
    box-shadow: 0 0.5rem 1rem -0.25rem var(--black);
  }
  

  

/* WORK */
.work{
    display: block;
    /* background-color: white; */
    margin: auto;
    max-width: 1200px;
    min-height: 50vh;
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: solid 0.1px var( --break-divider-outline);
    justify-content: center;
}

@media screen and (max-width: 600px) {
  .carousel-description{
    display:  none!important;
  }
}

.big-projects{
margin-bottom: 40px;
}
.carousel.slide {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 30px;
  }
  
  .carousel-inner {
    /* height: 500px; */
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    position: absolute;
    /* display:inline-block; */
  }

  .carousel-inner img{
    opacity: 1;
    filter: brightness(0.6);
  }
  .carousel-caption{
    bottom: 1.8rem!important; 
  }

  .carousel-title{
    font-size: 3vh;
    font-weight: 500;
    color: var(--emphasis-white);
    margin-bottom: 0rem;
    /* padding-top: 5vh; */
  }
  .version{
    font-size: 2vh;
  }

  .carousel-description{
    color: var(--emphasis-white);
    font-size: medium;
    margin-bottom: 0rem;

    /* font-weight: bold; */
    /* font-style: italic; */
  }
  
  .techstack{
    color: var(--accenture-blue);
    font-size: small;
    margin-bottom: 0rem;
    text-align: center;
  }
  .links{
    color: var(--dormant-grey);
    bottom: 2%;
  }
  .links:hover{
    color: var(--accenture-blue);
    /* margin-bottom: 0rem; */
  }

.misc-projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mini-projects-title{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
  }

  .misc-projects ul.projects-grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
}

@media screen and (max-width: 600px) {
  .misc-projects ul.projects-grid{
  grid-template-columns: 1fr;
  row-gap: 15px;
 }
}


.card__title {
  color: var(--accenture-blue);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

.reactive-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.reactive-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between cards */
  justify-content: center;
}

.card-wrap {
  flex: 1 1 auto; /* Allow the card to take up space based on content */
  max-width: 300px; /* Optional: Set a maximum width to maintain card size */
  height: auto; /* Allow height to adjust based on content */
  perspective: 800px;
  position: relative;
}
.card {
  width: 100%;
  height: 100%;
  --bs-card-bg:var(--bg-embelishment-color) !important;
  background-blend-mode: luminosity;
  backdrop-filter: blur(20px);
  border-radius: 24px !important;
  box-shadow: 0 20px 30px var(--dark-blue);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card::before {
  content: "";
  pointer-events: none;
  user-select: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(156.52deg,
          rgba(255, 255, 255, 0.4) 2.12%,
          rgba(255, 255, 255, 0.0001) 39%,
          rgba(255, 255, 255, 0.0001) 54.33%,
          rgba(255, 255, 255, 0.1) 93.02%);
  mask: linear-gradient(black, black) content-box,
      linear-gradient(black, black);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.border-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  pointer-events: none;
  transition: background-image 0.2s;
}

.card-content {
  height: 100%;
  display: block;
}

.card-content .techstack{
  color: var(--dormant-grey);
}

.card-content div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
  position: relative;
}

.card-link {
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  padding: 8px 20px;
  color: var(--lightest-grey);
  margin-top: 8px;
  text-decoration: none;
  background: linear-gradient(0deg,
          rgba(94, 94, 94, 0.07),
          rgba(94, 94, 94, 0.08)),
      rgba(255, 255, 255, 0.08);
  background-blend-mode: color-dodge, lighten;
  display: block;
}

p {
  color: var(--lightest-grey);
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .reactive-cards-container {
      flex-direction: column;
  }

  .card-wrap {
      width: 250px;
  }
}









/* FOOTER */
.container.footer{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    height: 20vh;
    padding-top: 40px;
    padding-bottom: 100px;
}
.hyperlinks{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;  
  color:var(--dormant-grey);
}

.hyperlinks i:hover{
  color:var(--accenture-blue);
}

f1{
    font-size: 80%;
    color:var(--deeper-grey);
    text-align: center;
}
